*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
}
.container{
	max-width:1340px;
	margin:0 auto;
	padding-left:12px;
	padding-right:12px;
}
.row{
	display:flex;
	flex-wrap:wrap;
	margin-left:-12px;
	margin-right:-12px;
}
body{
    background-image: url(../img/img.jpg);
    background-size: fill;

}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.form{
	width: 420px;
    padding: 30px;
    margin:100px    auto;
    border:1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
	backdrop-filter: blur(5px);
	color: white;
	border-radius: 30px;
}
.form h1{
	font-size: 36px;
	text-align: center;
}
.form .input-box{
	width: 100%;
	height: 50px;
	background: transparent;
	margin: 30px 0;
	position: relative;
	
}
.input-box input{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	border: 2px solid rgba(255, 255, 255, 0.2) ;
	outline: none;
	border-radius: 40px;
	font-size: 16px;
	padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
	color: white;

}
.input-box i{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.form .remember{
	display: flex;
	justify-content: space-between ;
	font-size: 15px;
	margin: -15px 0 15px;
}
.remember lable input{
	color: white;
	margin-right: 3px;
}
.remember a{
	color: white;
	text-decoration: none;
	transition: 0.5s;
}
.remember a:hover{
	text-decoration: underline;
}
.form .btn{
	width: 100%;
	height: 45px;
	background: white;
	border: none;
	border-radius: 40px;
	box-shadow:0 0 10px rgba(0, 0, 0, .1) ;
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.form .register{
	font-size: 15px;
	text-align: center;
	margin-top: 20px;

}
.register a{
	color: white;
	text-decoration: none;
	font-weight: 600;
}
.register a:hover{
	text-decoration: underline;
}
.register p{
	display: inline-block;
}

#hide , #show {
	width: 100px;
	height: 30px;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 10px;
	color: white;
	background: rgba(11, 80, 129, 0.2);
	margin-top: 10px;
	cursor: pointer;
}